extends layout

block content
    #container
      .header
        .logo
          img(src="images/logo.png")
        .buttons-container
          a.btn(href="#") List your space
          a.btn(href="/register") Sign Up
          a.btn(href="/login") Login
      .carousel
        h1 Create your account
      .mainbody
        form
          input(type="text", placeholder="Your name")
          input(type="text", placeholder="Your email address")
          input(type="text", placeholder="Your password")
          button(type="submit") Sign up
          p
            | Got an account already?
            a(href="#") Log in
      .footer
        p &#169; Guesthouse, Inc.